/*
1- common styles
2- General Styles
3- Sections
    3.0 Header Section
    3.1 Home Section
    3.2 About Section
    3.3 Portfolio Section
    3.4 offer Section
    3.5 Prices Section
    3.6 Team Section
    3.7 Blog Section
    3.8 Contact Section
*/


/******** 1- common styles*******************/
.overlay {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    /*يلزق فوق*/
    left: 0;
    /*يلزق شمال*/
    background-color: rgba(0, 0, 0, .7);
}

.hover-opacity {
    transition: opacity 0.1s;
}


.hover-opacity:hover {
    opacity: 0.8;
}

.ltr-effect,
.tb-effect {
    position: relative;
}

.ltr-effect::after,
.tb-effect::after {
    /*after يعتبر ابن عشان كده خد absolute*/
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #333;
    z-index: -1;
}

.ltr-effect::after {
    width: 0;
    transition: width 0.5s;
}

.tb-effect::after {
    height: 0;
    transition: height 0.5s;
}

.ltr-effect:hover::after {
    width: 100%;
}


.tb-effect:hover::after {
    height: 100%;
}

/******** 2- General Styles*******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*css3 fix width and height بتخلي الباينج ياخد من الطول والعرض*/
}

:root {
    --maincolor :#6195ff;
}

.container {
    width: 80%;
    margin: auto;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.clear {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat, sans-serif;
}

button {
    font-family: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.pd-y {
    padding: 120px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-header .secton-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.section-header .line {
    display: block;
    height: 5px;
    width: 60px;
    margin: 0 auto 70px auto;
    background-color: var(--maincolor);
}

/******** 3- Sections*******************/



/*************** 3.1 Home Section ********************/
.home {
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    /*css3*/
    position: relative;
}

.home-content {
    position: absolute;
    width: 65%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .title {
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.home .home-desc {
    margin: 20px 0;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.5;
}

.home .btn {
    min-width: 160px;
    padding: 10px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}

.home .btn-start {
    margin-right: 10px;
    background-color: #fff;
}

.home .btn-learn {
    background-color: var(--maincolor);
    color: #fff;
}

/*************** 3.2 About Section ********************/
.about {}

.about-content {
    overflow: hidden;
}

.about-item {
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}

.about-item:hover .about-item-title {
    color: white;
}

.about-item.mg {
    margin: 0 5%;
}

.about-item .icon {
    color: var(--maincolor);
    margin-bottom: 10px;
}

.about-item-title {
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}

.about-item-desc {
    line-height: 1.6;
    margin-bottom: 10px;
    color: #999;
}

.about-item-link {
    color: var(--maincolor);
    text-transform: capitalize;
}

/*************** 3.3 Portfolio Section ********************/
.portfolio {
    background: #f9f9f9;
}

.portfolio-content {
    overflow: hidden;
}

.portfolio-item {
    float: left;
    width: 32%;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
}

.portfolio-item .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s;
}

.portfolio-item:hover .layer-content {
    opacity: 1;
    visibility: visible;
}


.layer-content .layer-info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.layer-content .category {
    color: var(--maincolor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top .5s, opacity 0.5s;
    transition-delay: .2s;
}

.layer-content-title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top .5s, opacity 0.5s;
    transition-delay: .3s;
}

.layer-content a {
    color: white;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top .5s, opacity 0.5s;
    transition-delay: .3s;
}

.portfolio-item:hover .layer-content .category,
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.layer-content a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: var(--maincolor);
}

.portfolio-item.mg {
    margin: 0 2%;
}


.portfolio-item img {
    width: 100%;
}

/************** offer section ********************/
.offer-content {
    overflow: hidden;
}

.offer-item {
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}

.offer-item:hover .offer-item.mg {
    margin: 0 5%;
}

.offer-item .icon {
    position: absolute;
    left: 15px;
    top: 35px;
    color: var(--maincolor);
}

.offer-item-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color .5s;
}


.offer-item-desc {
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #999;
}

.offer-item:hover .offer-item-title {
    color: #fff;
}

/*************** 3.3 service Section ********************/
.service {
    background-color: #f9f9f9;
}

.service-item {
    width: 50%;
    float: left;
}

.service-item .section-header {
    text-align: left;
}

.service-item .section-header .line {
    margin: 0 0 40px 0;
}

.service-item-desc {
    padding-right: 20px;
    color: #999;
    line-height: 1.5;
    margin-bottom: 20px;
}

.service-list {
    list-style: none;
}

.service-list li {
    margin-bottom: 20px;
    color: #999;
}


.service-list li i {
    border: 1px solid var(--maincolor);
    color: var(--maincolor);
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
}

.service-item-img img {
    width: 100%;
}

.service-bollets {
    list-style: none;
    text-align: center;
}

.service-bollets li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px 5px;
    border-radius: 50%;
}

.service-bollets li.active {
    background-color: var(--maincolor);
}

.service-bollets li:hover {
    background-color: var(--maincolor);
}

/*************** 3.5 numbers Section ********************/
.numbers {
    position: relative;
    background-image: url(../images/background/background2.webp);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}

.number-items {
    overflow: hidden;
    padding: 100px 0;
}

.number-item {
    width: 25%;
    float: left;
    text-align: center;
}

.number-item .icon {
    color: var(--maincolor);
    margin-bottom: 15px;
}

.number-item-title {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.number-item-text {
    color: white;
}

/*************** 3.6 pricing Section ********************/

.pricing {}

.pricing-plans {
    overflow: hidden;
}

.pricing-item {
    width: 30%;
    float: left;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}


.pricing-item.mg {
    margin: 0 5%;
}

.pricing-item-text {
    text-transform: uppercase;
    font-size: 17px;
    color: #999;
    transition: color .5s;
}

.pricing-item-permonth {
    width: 130px;
    height: 130px;
    transition: color .5s;
    padding: 20px 0;
    margin: 20px auto;
    border: 2px solid var(--maincolor);
    border-radius: 50%;
}

.pricing-item-permonth .dollar {
    font-size: 50px;
}

.pricing-item-permonth .month {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.pricing-list {
    list-style: none;
}

.pricing-list li {
    color: #999;
    line-height: 1.8;
}

.pricing-item-purchase {
    background: none;
    border: 0;
    display: block;
    width: 140px;
    border: 2px solid var(--maincolor);
    padding: 10px;
    margin: 15px auto 0 auto;
    color: var(--maincolor);
}

.pricing-item:hover .pricing-item-permonth {
    color: white;
}

.pricing-item:hover .pricing-item-text {
    color: var(--maincolor);
}

/*************** 3.6 testimonial Section ********************/

.testimonial {
    position: relative;
    background-image: url(../images/background/background3.webp);
    background-attachment: fixed;
    height: 400px;
}

.testimonial-content {
    overflow: hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}

.testimonial-item {
    width: 50%;
    float: left;
    color: white;
}

.testimonial-item .testimonial-toplayer {
    padding: 10px 2px 40px 100px;
    position: relative;
}

.testimonial-item .testimonial-toplayer img {
    position: absolute;
    left: 10;
    top: 10px;
    border-radius: 50%;
}

.testimonial-item .testimonial-toplayer h3 {
    margin: 5px 0;
}

.testimonial-item .testimonial-toplayer span {
    color: var(--maincolor);
}

.testimonial-desc {
    line-height: 1.5;
    font-size: 17px;
}

/*************** 3.7 team Section ********************/
.team-content {
    overflow: hidden;
}

.team-item {
    width: 30%;
    float: left;
    background: #e8e8e8;
    padding: 40px 10px;
    text-align: center;
}

.team-item.mg {
    margin: 0 5%;
}

.team-item .team-img {
    width: 90%;
    margin: auto;
    position: relative;
}

.team-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
}

.team-overlay a {
    display: block;
    width: 40px;
    height: 40px;
    background: var(--maincolor);
    color: white;
    margin-left: auto;
}

.team-overlay a i {
    line-height: 40px;
}

.team-item .team-img img {
    width: 100%;
}

.team-item .team-info-title {
    color: #222;
    margin: 10px 0;
    transition: color 0.5s;
}

.team-item .team-info-text {
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}

.team-item:hover .team-overlay {
    opacity: 1;
    visibility: visible;
}

.team-item.tb-effect {
    z-index: 1;
    /*عشان يطلع فوق اللون لان المرة دي في لون واللي قبل كده كان شفاف*/
}

.team-item:hover .team-info-title {
    color: white;
}

.team-item:hover .team-info-text {
    color: var(--maincolor);
}

/*************** 3.8 blog Section ********************/
.blog {
    background: #f9f9f9;
}

.blog-content {
    overflow: hidden;
}

.blog-item {
    width: 30%;
    float: left;
    background: white;
}

.blog-item.mg {
    margin: 0 5%;
}

.blog-item-img img {
    width: 100%;
}

.blog-info {
    padding: 20px;
}

.blog-list {
    list-style: none;
    margin: 10px 0;
}

.blog-list li {
    display: inline-block;
    margin: 0 5px;
}

.blog-list li i {
    color: var(--maincolor);
}

.blog-title {
    font-weight: bold;
    margin: 20px 0;
}

.blog-desc {
    color: #999;
    margin-bottom: 10px;
    line-height: 1.5;
}

.blog-link {
    color: var(--maincolor);
}

/*************** 3.9 contact Section ********************/

/*************** 3.10 footer Section ********************/

.footer {
    background: #1c1d21;
    text-align: center;
    padding: 60px 0;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    display: inline-block;
    margin: 20px 0;
}

.footer-links li a {
    display: block;
    width: 50px;
    height: 50px;
    background: var(--maincolor);
    color: white;
    margin: 0 5px;
    border-radius: 50%;
}

.footer-links li a i {
    line-height: 50px;
}

.footer .copyright {
    color: #999;
    font-size: 15px;
    text-transform: uppercase;
}